body {
  font-size: 14px;
  font-family: verdana;
  background-color: grey;
}


#BigBen{
  font-size: 16px;
  color: #efe7de;
  text-align: justify;
}

#ThamesRiver{
  line-height: 1.5;
  font-family:Arial;
}

#Soccer{
  font-weight: lighter;
}

#Ramen{
  text-decoration: underline;
}

a{
  text-decoration: none;
  color: pink;
}

input:focus{
  background-color: yellow;
}
